<section>
  <div
    class="navbar px-4 d-flex align-middle flex-row justify-content-between bg-primary"
  >
    <p class="navbar-brand fs-5 fw-bold text-center text-white">BSC-FE</p>
    <div class="text-white d-flex flex-row gap-4">
      <a class="navbar-nav text-white" routerLink="/dashboard">Dashboard</a>
      <a class="navbar-nav text-white" routerLink="/transactions">Transactions</a>
      <a class="navbar-nav text-white" [routerLink]="'/profile/'+onGetId()">Profile</a>
      <a class="navbar-nav text-white" (click)="onLogout()">Logout</a>
    </div>
  </div>
</section>
